.overview {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: last baseline;
  height: 50rem;

  .overview-content {
    padding: 2rem;
    font-size: 40px;
    line-height: 50px;
  }
}
