.contact-us {
  display: flex;
  flex-direction: row;
  padding-top: 20rem;

  .description-section {
    flex: 1;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text-section {
      p {
        margin-top: 0;
      }
    }

    .icon-section {
      display: flex;
      flex-direction: row;
      align-content: start;
      height: 50px;

      .oval-icon {
        padding-right: 5px;
        display: block;

        .contact-icon-ig {
          height: 20px;
        }

        .contact-icon-mail {
          height: 15px;
        }
      }
    }
  }

  .logo-section {
    flex: 2;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    padding-right: 1rem;

    .logo {
      height: 100%;
      width: 70%;
    }
  }
}

@media (max-width: 750px) {
  .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: unset;
    padding: 1rem;

    .description-section {
      flex: 1;
      height: 100%;
      width: 100%;
      text-align: center;

      .icon-section {
        justify-content: center;
      }
    }

    .logo-section {
      justify-content: center;
      align-items: center;

      .logo {
        padding: 4rem 0 0 0;
        width: 90%;
      }
    }
  }
}