.divider {
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
  // Flex box allows the image to dynamically fill the space
  display: flex;
  flex-direction: column;

  .divider-title {
    margin: 0;
    // Center both vertically and horizontally
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
