.divider {
  width: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
  // Flex box allows the image to dynamically fill the space
  display: flex;
  flex-direction: column;

  .svg-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .frosting {
    width: 100%;
    // The same height as the svg, This height is important as it gives 
    height: 172px;
    background-image: url('../../public/Divider.svg');
    background-repeat: repeat-x;
    background-position: center center; // This centers the pattern, causing truncation from both ends
    background-size: auto 100%;
  }

  .divider-title {
    margin: 0;
    // Center both vertically and horizontally
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
