.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.background {
  background-image: url('/public/Cream.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; /* Make the div a positioning context for the SVG */
  width: 100%;
}

.svg-overlay {
  width: 70%; 
  height: auto;
}