.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background-image: url('../public/Cream.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative; 
  width: 100%;
}

.landing-page-body {
  text-align: center;
  font-weight: 300;
}

.App-link {
  color: #61dafb;
}

.svg-overlay {
  width: 50%; 
  height: auto;
  padding-bottom: 5rem;
}

.hyperlink {
  text-decoration: none;
  color: inherit;
}

.hyperlink:visited {
  color: inherit;
}

@media (max-width:480px) {
  .svg-overlay {
    width: 90%; 
  }

  .landing-page-body {
    text-align: center;
    font-weight: 300;
    padding: 0 1.5rem;
  }

  .svg-overlay {
    padding-bottom: 2rem;
  }
}